@import "tailwindcss";
@plugin "daisyui";

@keyframes pulse-dot {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.7;
  }
}

/* .animate-pulse-dot {
  animation: pulse-dot 4s ease-in-out infinite;
} */
